h1{
    text-align: center;
    font-size: 45px;
    border-bottom: 1px solid red;
}
nav{
    border-right: 1px solid gray;
    width: 150px;
    display: fixed;
}
body{
    margin: 0;
}
nav>b{text-decoration: underline;}